.left_menu_ul {
	/* width: 100%; */
	text-decoration: none;
	list-style-type: none;	
}

.left_menu_ul > li {
	margin-left: -40px;
	display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
}


.left_menu_ul > li > a {
	font-family: 'MinSans-Regular';
	color: var(--text-color);;
	text-decoration: none;
}

.left_menu_ul > li > a:hover {
	text-decoration: underline;
}